{% extends 'base.html' %}

{% block content %}

{% if crypto.Response %}

<h1>Please type correctly!</h1>

{% else %}

{% for key, value in crypto.DISPLAY.items %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{key}}</h1>
    <p class="lead">
      <strong> name </strong> {{ key }} <br/>
      <strong> price </strong> {{ value.USD.PRICE }}<br/>
      <strong> 24h high </strong>   {{ value.USD.HIGHDAY }}<br/>
      <strong> 24h low </strong> {{ value.USD.LOWDAY }}<br/>
      <strong> mktcap </strong> {{ value.USD.MKTCAP }}<br/><br/>
    </p>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
